@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$text-color: #58595B;


body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #000;
    background: #F5F5F5;
}

.tabButton {
    @apply rounded-lg shadow px-5 py-3 w-full disabled:bg-slate-200;
}

.activeTab {
    @apply bg-blue-800 text-white;
}

.inactiveTab {
    @apply bg-white text-black;
}

.profile-menu {
    li {
        position: relative;
        padding-left: 12px;
    }

    li:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 16px;
        background-color: #000;
        transform: translateY(-50%);

    }
}

.sidebar {
    @apply whitespace-nowrap;

    li {

        a {
            @apply block px-5 py-3 w-full border border-slate-300 mb-1;

        }

        i {
            @apply text-xl mr-2
        }

        li {

            a {
                @apply px-10
            }
        }
    }


}

.table {
    th {
        @apply whitespace-nowrap;
    }

    th,
    td {
        @apply border border-slate-400 px-2
    }

}

.table-header {
    tr {
        th {
            @apply py-2 px-2 bg-gray-200 text-sm uppercase font-normal
        }
    }
}

.table-body {
    tr {
        @apply hover:bg-slate-100 transition-colors duration-200;
    }

    tr:nth-child(even) {
        @apply bg-gray-100;
    }

    td {
        padding: 4px 8px;
    }
}

.input-text {
    @apply w-full border bg-transparent rounded-md px-3 py-2 mt-1 text-sm outline-none focus:border-black disabled:bg-[#EBEBE4] disabled:border-[#EBEBE4]
}

.purchase-table {
    td {
        vertical-align: baseline;
    }
}

.ant-pagination .ant-pagination-item-active a {
    color: #fff !important;
}

.ant-pagination .ant-pagination-item-active {
    background-color: #000180 !important;
    border-color: #000180 !important;
}